/* Podpięcia innych arkuszy styli */
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin-ext');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
/* Szkielet witryny */
* {
    transition: .4s;
}
html, body {
    font-family: 'Lato', sans-serif;
    background: url(img/bg.jpg) repeat;
    color: #fff;
    background-attachment: fixed;
    background-size: cover;
}
/* Pasek przewijania */
::-webkit-scrollbar {
	width: 14.5px;
	height: 14.5px;
}
::-webkit-scrollbar-track {
	background: #222;
}
::-webkit-scrollbar-thumb {
	background-color: #d94648;
}
/* Nawigacja */
.items {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: rgba(52, 152, 219, 0.6);
    padding: 5px 0 0 5px;
    z-index: 9098;
}
.items img, .items span {
    float: left;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}
.nav {
    float: right;
    margin: 0 10px 0 0;
    z-index: 1;
}
.nav a {
    text-transform: uppercase;
    color: #fff;
    margin: 3px 10px 0 0;
    line-height: 300%;
    transition: .2s;
}
.nav a:hover, .show:hover, .hide:hover {
    text-decoration: none !important;
    color: #9f9e9f;
}
#chk {
    visibility: hidden;
}
.show {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 47.5%;
    right: 1%;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.hide {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    right: 1%;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
.items a {
    float: left;
}
/* Główna Zawartość + inne */
.all {
    margin: 74.9px auto 10px auto;
    position: inherit !important;
}
/* Użytkownik oraz przycisk Zalogowania/Wylogowania */
.userandlogout {
    font-size: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#usr {
    width: 75%;
    float: left;
}
#showl {
    float: right;
    width: 25%;
    text-align: right;
}
/* Styl całej głównej zawartości */
.userandlogout, .content, .footer {
    background: rgba(0,0,0,0.55);
    padding: 10px;
    color: #fff;
}
/* Główna Zawartość */
.content {
    background: rgba(0,0,0,0.75);
}
.tiles {
	display: inline-block;
    float: left;
	text-align: center;
    overflow: hidden;
    margin: 15px 0;
}
.overlay, .overlayLog {
	position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.overlayLog > .bg:hover {
    opacity: 1;
}
.overlay .link, .overlayLog .link {
	position: absolute;
	display: block;
	width: 100%;
	background-color: #111;
	left: 0px;
	bottom: 0px;
    opacity: 0.8;
    height: 50px;
    text-decoration: none;
}
.overlay p, .overlayLog p {
    top: 0%;
    position: relative;
    color: #fff;
    font-size: 200%;
}
.overlayLog .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 170, 204, 0.75);
    color: #fff;
    opacity: 0;
}
.overlayLog > .bg > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlayLog > .bg > span > i {
    font-size: 55px;
}
.overlayLog > .bg > span > p {
    font-size: 20px;
}
.tiles img {
    transition: .4s;
    max-width: 100%;
    width: 100%;
}
/* Przycisk "Więcej Gier"! */
.moreBtn {
    width: 350px;
}
.moreBtnA {
    color: #00a8ff;
}
.moreBtnA:hover {
    text-decoration: none;
}
.moreBtnIn {
    font-size: 30px;
}
/* Stopka witryny */
.footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}
/* Zmiana zachowania elementów, po zmiany rozmiaru witryny */
@media screen and (max-width:1150px) {
    .overlayLog > .bg > span > i {
        font-size: 40px;
    }
    .overlayLog > .bg > span > p {
        font-size: 16px;
    }
}
@media screen and (max-width:850px) {
    .nav {
        height: 100vh;
        position: fixed;
        background: #333;
        width: 100%;
        display: block;
        z-index: 838;
        top: 0;
        left: 100%;
    }
    .l1 {
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 20%;
        left: 50%;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }
    .l2 {
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 30%;
        left: 50%;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }
    .l3 {
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 40%;
        left: 50%;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }
    .l4 {
        text-align: center;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        color: #fff;
        font-size: 25px;
        cursor: pointer;
    }
    #chk:checked ~ .nav {
        left: 0;
    }
    .show, .hide {
        display: block;
    }
    #showl, #usr {
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    .userandlogout {
        font-size: 25px;
    }
}
/* Rozmiary z Bootstap 4 */
@media screen and (max-width:1199px) {
    /* Bootstrap 1199px col-lg */
    
}
@media screen and (max-width:991px) {
    /* Bootstrap 991px col-md */
    .overlayLog > .bg > span {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .overlayLog > .bg > span > i {
        font-size: 40px;
    }
    .overlayLog > .bg > span > p {
        font-size: 12.5px;
    }
}
@media screen and (max-width:767px) {
    /* Bootstrap 767px col-sm */
    .tiles {
        margin: 15px 0;
    }
    .overlayLog > .bg > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .overlayLog > .bg > span > i {
        font-size: 55px;
    }
    .overlayLog > .bg > span > p {
        font-size: 20px;
    }
}
@media screen and (max-width:575px) {
    /* Bootstrap 575px col (col-xs) */
    
}
.credits {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.80);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    animation: 0.75s animpopcred;
}
.herein {
   -webkit-box-shadow: 10px 10px 97px 1px rgba(140,140,140,1);
-moz-box-shadow: 10px 10px 97px 1px rgba(140,140,140,1);
box-shadow: 10px 10px 97px 1px rgba(140,140,140,1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    padding: 30px;
    background: rgba(23, 48, 175, 0.90);
    border-radius: 10px;
    color: #fff;
}
.credherhid {
    display: none;
}
.log {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.80);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    animation: 0.75s animpopcred;
}
.login {
   -webkit-box-shadow: 10px 10px 97px 1px rgba(140,140,140,1);
-moz-box-shadow: 10px 10px 97px 1px rgba(140,140,140,1);
box-shadow: 10px 10px 97px 1px rgba(140,140,140,1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    padding: 30px 0 60px 0;
    background: rgba(23, 48, 175, 0.90);
    border-radius: 10px;
    color: #fff;
    box-sizing: border-box;
}
.loghid {
    display: none;
}
#showl, #showcredpop {
    color: #0652DD;
    cursor: pointer;
}
@keyframes animpopcred {
    0% {
        opacity: 0%
    }
    100% {
        opacity: 100%;
    }
}
#mail, #pass {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    border: 2px solid #38e;
    background: #111;
    opacity: 0.8;
    margin: 5px 0;
    padding: 10px;
    color: #fff;
}
#sbtn {
    border-radius: 5px;
    border: none;
    border: 2px solid #1a1;
    background: #111;
    color: #fff;
    position: absolute;
    left: 40%;
    right: 40%;
    margin: 10px 0 0 0;
}
.heyreg {
    color: #c32;
    font-weight: 700;
    text-shadow: 0 0 0.2em #000;
}
.heyreg:hover {
    font-weight: 700;
    text-decoration: none;
    color: #d32;
}
#itzlink, #itzlinq {
    animation: 0.75s animpopcred;
}